@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans serif; 
}
body {
  font-family: Arial, sans-serif;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 0;
}
nav{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.642);
width: 100%;
z-index: 1;
margin-bottom: 500px;
backdrop-filter: blur(30px);
border-radius: 2.5px;

/* Styling for the title in the navigation bar */
}
nav h3 {
  color:#2d0d7c;
  font-size: 2rem;
}
/* stayling for the navigation links */
.nav a{
  text-decoration: none;
  color: #2d0d7c;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
  padding: 13px;
  transition: all 0.1% ease;
}
/* hover effect for the navigation links */
.nav a:hover{
  border: none;
  background-color: #2d0d7c;
  color:white;
  border-radius: 50px;
}

.container {
  background-color: rgba(255, 255, 255, 0.963);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 5rem;
  position: relative;
  top: 100px;
}
.container h2 {
  margin-bottom: 20px;
  color: #0056b3;
}
.form-group {
  margin-bottom: 15px;
  text-align: right;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group input:focus {
  border-color: #007bff;
  outline: none;
}
.btn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.btn:hover {
  background-color: #0056b3;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);

}
.note {
  margin-top: 10px;
  font-size: 0.9em;
  color: #888888;
}
